<div class="hero is-fullheight landing-hero-wrapper">
  <div id="particles-js"></div>
  <div class="hero-body">
    <div class="container">
      <div class="columns landing-caption is-vcentered">
        <div class="column is-6">
          <img src="assets/images/friends.svg" alt="">
        </div>
        <div class="column is-5 is-offset-1">
          <h2>PioPio.</h2>
          <h3>Follow what you like.</h3>
          <h3>Find out what people are talking about.</h3>
          <h3>Join the conversation.</h3>
          <div class="buttons">
            <a routerLink="/register" class="button">Register</a>
            <a routerLink="/login" id="tour-start" class="button is-hidden-mobile">Login</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
